@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", serif;
  background: #f0f8ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.random-color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 90%;
  max-width: 50rem;
  background: #ffffff;
  padding: 4rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .random-color-container {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
  }
}

.hex-color-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.hex-color-container p{
    font-size: 1.7rem;
    color: #36454F;
  }

  .hex-color-container button {
    font-size: 1.6rem;
    padding: 0.7rem 2rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  
  .hex-color-container button:hover {
    background-color: #0056b3;
  }

  .rgb-color-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 2rem;
  }
  
  .rgb-color-container p{
    font-size: 1.7rem;
    color: #36454F;
  }
